table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
table thead {
  background: rgb(191, 235, 235);
}
table th,
table td {
  border: 0.5px solid rgb(54, 145, 145);
  padding: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.composition {
  width: 50%;
  float: left;
}
.img-field {
  width: 50%;
  float: left;
}

.test-img {
  width: 100%;
}
